.chat-container {
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 70%; /* Increased width to 70% of the viewport */
    height: 90vh; /* Increased height to 90% of the viewport */
    background-color: #9db2bf; /* Blue background similar to the homePage */
    border: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 6px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.chat-box {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

.user-input {
    padding: 15px 20px;
    font-size: 1.2em; /* Adjusted for consistency */
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    background: #f0f0f0;
}

.message {
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 20px;
    color: #fff;
    max-width: 80%;
    font-size: 1em; /* Adjusted font size for better readability */
}

.user-message {
    background-color: #0056b3; /* Darker blue for user messages */
    align-self: flex-end;
    margin-right: 10px;
    animation: fadeIn 1s forwards;
}

.bot-message {
    background-color: #333;
    align-self: flex-start;
    margin-left: 10px;
    animation: fadeIn 1s forwards;
}

.loading-message {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.loading-message span {
    animation: dots 1.5s infinite;
    padding: 0 2px;
    font-size: 24px;
}

.loading-message span:nth-child(2) {
    animation-delay: 0.25s;
}

.loading-message span:nth-child(3) {
    animation-delay: 0.5s;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #007bff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: background 0.3s;
}

.back-button:hover {
    background: #0056b3; /* Consistent dark blue for hover state */
}

.regenerate-button {
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .regenerate-button:hover {
    background-color: #0056b3;
  }
