.title-box {
  padding-bottom: 10px;
}

.reset-instructions {
  text-align: center;
  color: #27374d;
  width: 300px;
  font-size: 15px;
}

.go-back-login {
  text-decoration: none;
  color: #27374d;
  font-size: 17px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
}
