.app {
  display: flex;
  justify-content: flex-end;
}

.left-div {
  /* position: relative; */
  width: 75vw;
  height: 100vh;
  color: rgb(221, 230, 237);
  background-color: #1a2e49;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 80px;
  font-weight: 500;
}

.logo {
  size: 100px;
  padding: 0;
}

.login-div {
  display: flex;
  width: inherit;
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center-align the items horizontally */
  justify-content: space-evenly;
  gap: 10px; /* Space between items */
  margin-top: 20px; /* Add space above the container if needed */
}

.right-div {
  width: 25vw; /* Or any specific width */
  height: 100vh;
  color: rgb(221, 230, 237);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  align-items: center;
}

.signup-btn {
  border-width: 0;
  height: 52px;
  width: calc(
    42% - 5px
  ); /* Adjust width to fit container, considering the gap */
  background-color: #0a1e65;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 18px;
  cursor: pointer;
}

.login-btn {
  border-width: 0;
  height: 52px;
  width: calc(
    42% - 5px
  ); /* Adjust width to fit container, considering the gap */
  background-color: #3c46ff;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 18px;
  cursor: pointer;
}
