.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 75px;
  min-height: 100vh - 100px; /* Full screen height */
  background-color: #fff; /* Light background color */
  font-family: 'Inter', sans-serif; /* Default font */
}

.logo {
  height: auto;
  width: auto;
  padding: 1rem;
}

.logo img {
  width: 160px;
  height: auto;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 1rem;
  background-color: white; /* Background of the signup box */
  width: 100%;
  max-width: 400px;
}

.password-input {
  appearance: none;
  border: 1px solid #c2c8d0;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 17px;
  height: 52px;
  line-height: 1.1;
  outline: none;
  padding-block: 1px;
  padding-inline: 2px;
  padding: 0 16px;
  width: 100%;
}

.welcome-back-text {
  margin-bottom: 25px; /* Space below the text */
  font-size: 2rem; /* Larger text */
  font-weight: bold;
  color: #333;
}

.email-input {
  appearance: none;
  box-sizing: border-box;
  font-size: 17px;
  height: 52px;
  line-height: 1.1;
  outline: none;
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0;
  border-radius: 4px; /* Rounded borders */
  border: 1px solid #ddd;
}

.continue-box {
  width: 100%;
  margin-top: 1rem; /* Space above the next button */
}

.continue-btn {
  font-size: 1rem;
  width: 100%;
  padding: 15px 20px;
  background-color: #27374d; /* Example primary color */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.continue-btn:hover {
  background-color: #0056b3;
}

.signup-text {
  margin-top: 1rem; /* Space above the text */
}

.sign-up-txt {
  color: #0056b3; /* Link color */
  cursor: pointer;
}

.sign-up-txt:hover {
  text-decoration: underline; /* Underline on hover */
  color: #27374d;
}

.or-line {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0; /* Spacing */
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ddd; /* Light line color */
}

.or-box {
  padding: 0 10px;
  color: #666; /* Medium-dark text */
  font-weight: 500;
}

.social-login-boxes {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.social-login-box {
  width: 318px; /* Adjust width as needed */
  height: 52px; /* Adjust height as needed */
  margin-bottom: 15px; /* Add margin between boxes */
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  border: 1px solid #ccc;
  border-radius: 8px; /* Add border radius */
  background-color: white; /* Set background color to white */
  text-decoration: none; /* Remove default anchor text decoration */
  color: #27374d;
}

.social-login-box:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.login-logo {
  width: 20px;
  margin: 0 15px 0 10px;
}

.social-login-box {
  width: 100%;
  max-width: 398px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  font-size: 17px;
}

.social-login-box img {
  width: 25px;
  height: 25px;
}

.social-login-box:hover {
  background-color: #f3f3f3;
}

.popup {
  align-self: flex-start;
}

.popup-text {
  color: #bd0707;
  font-size: 15px;
  font-weight: 600;
}

.email-input-empty,
.password-input-empty {
  border: 2px solid #bd0707;
}
