.text-container {
  width: 100%;
  color: #636bff; /* Change the text color if needed */
  margin-left: 35px;
  margin-right: 50px;
  text-align: left;
  font-size: 60px;
  font-weight: 550;
  display: inline-block;
}
