.logo {
  display: flex;
  padding: 1rem;
  position: relative;
  align-items: center;
}

.logo img {
  margin: auto;
}

.login-txt {
  padding: 1rem;
  text-align: center;
  align-items: center;
  /* font-size: ; */
}
