.app {
  display: flex;
  justify-content: flex-end;
}

.left-div {
  width: 70vw;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-div {
  width: 30vw; /* Or any specific width */
  height: 100vh;
  display: flex;
  margin-left: auto;
  background-color: green;
  justify-content: center;
  align-items: center;
}